@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

h2 {
  border-bottom: 3px solid #60f7f2;
  box-shadow: 0 20px 10px 3px rgba(0, 0, 0, 0.2);
  padding: 10px 40px;
  border-radius: 2px;
  color: #60f7f2;
}

/*making the css grid*/
.make-the-grid {
  display: grid;
  grid-template-columns: 0.9fr 3fr 0.9fr;
  /* grid-column-gap: 1em; */
}
.container-house {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
  background-color: #3f3e3f;
  color: #f4fcfa;
}

.house-hand {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* padding-bottom: 200px; */
  padding-top: 10px;
}

.card {
  width: 132px;
  height: 205px;
  background-image: none;
  background-repeat: no-repeat;
  /* background-size: cover; */
  margin: 30px;
  box-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.player-hand {
  padding-top: 10px;
  display: flex;
  margin-bottom: 50px;
}

.container-player {
  background-color: #05a8aa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 200px 50px 200px;
}

.player-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: 40px; */
  background-color: #05a8aa;
}
.same-width {
  width: 190px;
  margin: 20px 0;
}

.chip-container {
  text-align: center;
  color: #f4fcfa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #05a8aa;
}

.chip-container label {
  font-size: 20px;
}

#chip-count {
  background-color: #3f3e3f;
  font-size: 23px;
  /* width: 900px;
  max-width: 100%; */
  padding: 15px;
  /* margin-bottom: 100px; */
  border-radius: 25px;
  color: #60f7f2;
  box-shadow: 0 10px 3px 0 rgba(0, 0, 0, 0.2);
}

.chips {
  display: flex;
  flex-direction: column;
  padding: 10 0px 10px 10px;
}

.chip-inside-format {
  display: flex;
}

.chip-bottom {
  display: flex;
  padding: 10 10px 10px 0px;
  flex-direction: column;
}

.chip-btn {
  background-color: Transparent;
  background-size: cover;
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 50%;
  border: none;
  font-size: 20px;
  color: #f4fcfa;
  cursor: pointer;
  box-shadow: 0 10px 3px 0 rgba(0, 0, 0, 0.2);
}

.chip-btn-blocked {
  pointer-events: none;
}

.btn-50 {
  background-image: url("PokerSet/PNGs/chips/small/chip_gray_top.png");
}

.btn-100 {
  background-image: url("PokerSet/PNGs/chips/small/chip_gray_top.png");
}

.btn-500 {
  background-image: url("PokerSet/PNGs/chips/small/chip_gray_top.png");
}

.btn-10000 {
  background-image: url("PokerSet/PNGs/chips/small/chip_gray_top.png");
}

.chip-btn:focus {
  outline: none;
}

.chip-btn:hover {
  border: 3px solid #60f7f2;
}

.chip-btn:active {
  position: relative;
  top: 1px;
}

.action:focus {
  outline: 0;
}

/* Button Styling from online editor*/
.action {
  box-shadow: 0px 5px 0px 0px #3f3e3f;
  background-color: #535254;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  color: #60f7f2;
  font-size: 22px;
  padding: 20px 28px;
  text-decoration: none;
  /* text-shadow: 0px 1px 0px #535254; */
}
.action:hover {
  background-color: #60f7f2;
  color: #3f3e3f;
}
.action:active {
  position: relative;
  top: 1px;
}

.all-in {
  margin-top: 15px;
  padding: 10px 60px;
}

input,
label,
textarea {
  display: inline;
  margin: 10px;
  padding: 15px 0;
  border: none;
  font-size: 22px;
  background: transparent;
  border-bottom: 3px solid #60f7f2;
  color: #fff;
}

input:focus {
  outline: 0;
}
/* Question */

/* Underline and Placeholder */
