@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.container-house {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
  background-color: #3f3e3f;
  color: #fff;
}

.house-hand {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  /* padding-bottom: 200px; */
  padding-top: 10px;
}

.card {
  width: 132px;
  height: 210px;
  background-image: url("./PokerSet/PNGs/cards/Set_B/small/card_b_da.png");
  background-repeat: no-repeat;
  /* background-size: cover; */
  margin: 30px;
}

.player-hand {
  padding-top: 10px;
  display: flex;
  margin-bottom: 50px;
}

.container-player {
  background-color: #05a8aa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px 50px 50px;
}

.player-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}
.player-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-btn {
  padding-bottom: 10px;
}

.bottom-btn {
  padding-bottom: 10px;
}
.same-width {
  width: 190px;
  margin: 5px;
}

.chip-container {
  text-align: left;
  color: #fff;
}

.chip-container label {
  font-size: 20px;
}

#chip-count {
  background-color: #3f3e3f;
  font-size: 23px;
  padding: 20px 280px 15px 10px;
  border-radius: 15px;
}

.chips {
  padding: 45px 0 20px 0;
}

.chip-btn {
  background-color: Transparent;
  background-size: cover;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border-color: transparent;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

.btn-50 {
  background-image: url("PokerSet/PNGs/chips/small/chip_pink_top.png");
}

.btn-100 {
  background-image: url("PokerSet/PNGs/chips/small/chip_red_top.png");
}

.btn-500 {
  background-image: url("PokerSet/PNGs/chips/small/chip_lightblue_top.png");
}

.btn-10000 {
  background-image: url("PokerSet/PNGs/chips/small/chip_green_top.png");
}

.chip-btn:focus {
  outline: none;
}

.chip-btn:hover {
  border: 3px solid #fcaf3b;
}

.chip-btn:active {
  position: relative;
  top: 1px;
}

.action:focus {
  outline: 0;
}

/* Button Styling from online editor*/
.action {
  -moz-box-shadow: 3px 4px 0px 0px #8a2a21;
  -webkit-box-shadow: 3px 4px 0px 0px #8a2a21;
  box-shadow: 3px 4px 0px 0px #3f3e3f;
  background-color: #535254;
  border-radius: 42px;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-size: 20px;
  padding: 8px 28px;
  text-decoration: none;
  /* text-shadow: 0px 1px 0px #535254; */
}
.action:hover {
  background-color: #fcaf3b;
  color: #3f3e3f;
}
.action:active {
  position: relative;
  top: 1px;
}
